*{
    margin: 0;
    padding: 0;
}

body{
    background: url("./public/DSC01789.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 55% bottom 75%;

  
 
    }

.cv
{   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border-radius: 15px;
    background-color: white;
    margin-top: 50px;
    margin-right: 20px;
    padding: 20px;
    text-decoration: none;
}

.cv:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}

.link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border-radius: 15px;
    background-color: white;
    margin-top: 100px;
    margin-right: 17px;
    padding: 20px;
    text-decoration: none;

}


.link:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}

.contact{    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border-radius: 15px;
    background-color: white;
    margin-top: 50px;
    margin-right: 50px;
    padding: 20px;
    text-decoration: none;
    
}

.contact:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}



#contenu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align:start;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: -200px;
     
}


section{
width: 100%;
min-height: max-content;
}

nav{
  
    text-align-last: right;
}

footer{
    color: white;
}

#logos{

    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;


}


#html{
    height: 129px;
    width: 129px;
    cursor: pointer;
}

#css{
    height: 150px;
    width: 150px;
    padding-left: 70px;
    cursor: pointer;
}

#js{
    height: 140px;
    width: 260px;
    cursor: pointer;
}

#react{
    height: 150px;
    width: 150px;
    cursor: pointer;
}

#firebase{
    height: 190px;
    width: 240px;
    cursor: pointer;
}

#intro{
    height: 500px;
    width: 320px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin-left: 730px;
    margin-top: 100px;
}

#bandeau{
    display: flex;

}

.ref{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name{
    font-size: 30px;
}